/* 使用PC MAC */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  vertical-align: bottom;
  width: 100%;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: gray;
  color: #fff;
  height: 50px;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  background-color: blue;
}

.main {
  height: 300vh;
}